/**
 * 
 * Movies first project
 *
 * @version		1.3
 *
 * @license		MIT-style license
 * @author		Trần Văn Thao <mail [at] thao31b@gmail.com>
 * @copyright	Author
 */
html{
	font-family: Arial, sans-serif;
	font-size: 13px;
}
.cl{
	text-indent: -9999px;
	clear: both;
	height: 0;
	width: 100%;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
a{
	text-decoration: none;
}
.visible-desktop {
    display: inherit !important;
}

.none {
	display: none !important;
}
