/* 
    Document   : film_detail
    Created on : 28-12-2013, 13:11:17
    Author     : zonejzen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.core-inner
{
    margin: auto 50px;
    width: 700px;
    border: solid 1px #c3c3c3;
    padding: 2px;
   
}

.film_detail
{
    margin: auto;
    background-color: #D8D8D8;
}

.required{
   
}
.row label {
    color: #01246F;
    padding: 10px;
     width: 100px;
}

.row{
    border-bottom: 2px solid #e1e1e1;
}