/* Landscape phones and down */

@media (min-width: 240px) and (max-width: 320px) {
	
}

/*Smartphone*/
@media only screen and (max-width: 320px) {
	#menu ul.list  li {
		display: block;
		float: none;
		width: 100%;
	}
	#menu ul.list  li a {
		border-bottom: 1px solid #576979;
	}
	#menu #navbar {
		display: block;
	}
	#menu a#pull {
		display: block;
		background-color: red;
		width: 100%;
		position: relative;
	}
	#menu a#pull {
		background: url("../images/icon-all.png") no-repeat scroll 0 -281px rgba(0, 0, 0, 0);
		display: block;
		float: left;
		height: 37px;
		margin: 5px 10px;
		padding: 0;
		text-indent: -9999px;
		width: 52px;
	}
	#menu h3{
		margin: 0;
	}
	#menu h3 span {
		color: #FFFFFF;
		float: left;
		line-height: 50px;
		margin: 0;
		text-transform: uppercase;
		width: 50%;
	}
	
	/*slider*/
	.ei-slider{
		height: 150px;
	}
}


@media (max-width: 480px) {
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width: 480px) {
	#menu {
		border-bottom: 0;
	}
	#menu ul.list  {
		display: none;
		height: auto;
	}
	/*slider*/
	.ei-slider{
		height: 180px;
	}
	#menu ul.list  li span:hover {
		background: none;
	}
	#menu ul li a.active span, #menu ul li a.active:hover span, #menu ul li a.active:active span, #menu ul li a.active:focus span {
    	background: none;
	}
	#menu ul li a.active, #menu ul li a.active:hover, #menu ul li a.active:active, #menu ul li a.active:focus {
    	background: none;
	}

	#menu ul.list  li span:hover {
	background: url("../images/bkg-itemmenu.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
	}
	#menu ul li a.active span, #menu ul li a.active:hover span, #menu ul li a.active:active span, #menu ul li a.active:focus span {
		background: url("../images/bkg-itemmenu.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
	}
	#menu ul li a.active, #menu ul li a.active:hover, #menu ul li a.active:active, #menu ul li a.active:focus {
		background: url("../images/bkg-itemmenu.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
	}
}

/*Styles for min-width: 485px and 719px*/
@media (min-width: 485px) and (max-width: 719px) {
	

}

/*Styles for  719px and low*/
@media screen and (max-width: 719px) {
	#menu {
		height: auto;
		margin: 0 ;
		position: relative;
	}
	#menu #navbar {
		display: block;
		background: url("../images/line-menu-drill.png") no-repeat scroll left -123px rgba(0, 0, 0, 0);
    	margin: 0;
	}
	#top-header .logo {
		display: table;
		margin: 0 auto;
		width: 130px;
		float: none;
		text-align: center;
	}
	#top-header .logo img{
		width: 150px;
	}
	
	#menu ul.list  {
		width: 100%;
		height: auto;
		display: none;
	}
	#menu ul.show{
		display: block;
	}
	#menu ul.list  li {
		
		width: 100%;
		float: none;
		position: relative;
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		display: block;
		float: left;
		line-height: 40px;
		margin: 0;
		padding: 0;
		background: url("../images/bkg-itemmenu.png") repeat-x scroll left bottom rgba(0, 0, 0, 0);
	}
	
	#menu ul.list  li a {
		cursor: pointer;
		display: block;
		font-size: 105%;
		height: 40px;
		padding: 0 0 0 15px;
		position: relative;
		z-index: 10;
	}
	#menu ul.list  li a span,#menu ul.list  li.active span {
		text-transform: uppercase;
		display: block;
		height: 40px;
		color: #222222;
		position: relative;
		z-index: 15;
		padding: 0 15px 0 0;
	}
	#menu ul.list  li a {
		
	}

	/*slider*/
	.ei-slider{
		height: 200px;
	}
}

/* Landscape phone to portrait tablet */
@media (min-width: 720px) and (max-width: 767px) {
	
	#top-header .logo {
		display: table;
		margin: 0 auto;
		width: 130px;
		float: left;
	}
	#top-header .logo img{
		width: 130px;
	}
	#menu {
		height: auto;
		margin: 0 0 0 145px;
	}
	#menu ul.list  {
		width: 100%;
		display: block;
		height: auto;
	}
	#menu ul.list  li {
		width: auto;
		float: left;
		position: relative;
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		display: block;
		float: left;
		line-height: 65px;
		margin: 0;
		padding: 0;
		
	}
	#menu ul.list  li a {
		cursor: pointer;
		display: block;
		font-size: 105%;
		height: 64px;
		padding: 0 0 0 15px;
		position: relative;
		z-index: 10;
	}
	#menu ul.list  li a span{
		text-transform: uppercase;
		display: block;
		height: 64px;
		color: #FFFFFF;
		position: relative;
		z-index: 15;
		padding: 0 15px 0 0;
	}
	#menu ul.list  li a {
		
	}
	/*slider*/
	.ei-slider{
		height: 250px;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 985px) {
	#top-header .logo {
		display: table;
		margin: 0 auto;
		width: 130px;
	}
	#top-header .logo img{
		width: 130px;
	}
	#menu {
		height: auto;
		margin: 0 0 0 145px;
	}
	#menu ul.list  {
		width: 100%;
		display: block;
		height: auto;
	}
	#menu ul.list  li {
		width: auto;
		float: left;
		position: relative;
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		display: block;
		float: left;
		line-height: 65px;
		margin: 0;
		padding: 0;
		
	}
	#menu ul.list  li a {
		/*border-bottom: 1px solid #576979;*/
		/*border-right: 1px solid #576979;*/
		cursor: pointer;
		display: block;
		font-size: 105%;
		height: 64px;
		padding: 0 0 0 15px;
		position: relative;
		z-index: 10;
	}
	#menu ul.list  li a span{
		text-transform: uppercase;
		display: block;
		height: 64px;
		color: #FFFFFF;
		position: relative;
		z-index: 15;
		padding: 0 15px 0 0;
	}
	#menu ul.list  li a {
		
	}
	
	/*slider*/
	.ei-slider{
		height: 300px;
	}
}
/* for 725px  and large */
@media (min-width: 725px) {
	#menu ul li a.active, #menu ul li a.active:hover, #menu ul li a.active:active, #menu ul li a.active:focus {
	background: url("../images/line-menu.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
	}
	#menu ul li a:hover, #menu ul li a:active, #menu ul li a:focus {
		background: url("../images/line-menu.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
	}
	#menu ul li a.active span, #menu ul li a.active:hover span, #menu ul li a.active:active span, #menu ul li a.active:focus span {
		background: url("../images/line-menu.png") no-repeat scroll right -123px rgba(0, 0, 0, 0);
	}
	#menu ul li a:hover span, #menu ul li a:active span, #menu ul li a:focus span {
		background: url("../images/line-menu.png") no-repeat scroll right -123px rgba(0, 0, 0, 0);
	}
}

/* Large desktop */
@media (min-width: 1200px) {
	
}

/*Super Large desktop */
@media (min-width: 2500px) {
	
}


/* Landscape phone to portrait tablet */
@media (min-width: 100px) and (max-width: 719px) {
	#menu ul.list  li span:hover {
		background: url("../images/bkg-itemmenu.png") repeat-x scroll left bottom rgba(0, 0, 0, 0) !important;
	}
	#menu ul li a.active span, #menu ul li a.active:hover span, #menu ul li a.active:active span, #menu ul li a.active:focus span {
		background: url("../images/bkg-itemmenu.png") repeat-x scroll left bottom rgba(0, 0, 0, 0) !important;
	}
	#menu ul li a.active, #menu ul li a.active:hover, #menu ul li a.active:active, #menu ul li a.active:focus {
		background: url("../images/bkg-itemmenu.png") repeat-x scroll left bottom rgba(0, 0, 0, 0) !important;
	}
}