/* 
    Document   : user_profile
    Created on : 09-12-2013, 22:12:24
    Author     : zonejzen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.core-inner{
    margin: auto 50px;
    width: 400px; 
    border: solid 1px #c3c3c3;
    padding: 30px;
}
.row {
    margin:5px;
    height: 30px;
}
.col-right{
    float: right;
    width: 270px;
}

.required .required{
    color: red;
}

.message{
    text-align: center;
    padding: 5px;
    height: 20px;
    margin-bottom: 20px;
    color: #006600;
}

.avatar {
    display: inline-block;
}

.avatar h1{
    margin-top: 40px;
    margin-left: 30px;
    text-align: center;
    float: left;
}

.avatar img{
    width: 100px;
    padding: 5px;
    margin-bottom: 15px;
    float: left;
    border: 1px solid #ccc;
}